# Tutorial "ELECTRE_Tri_B_main.py"

Author: [Souleymane Daniel](mailto:souleymane.daniel@insa-lyon.fr)

[INSA Lyon](https://www.insa-lyon.fr), Lyon, France, 17/03/2022

## Introduction

In order to dissociate the representative functions of the ELECTRE Tri-B method and their execution in the case of examples or concrete applications, a "main" executable code has been created. The [**ELECTRE_Tri_B_main.py**](ELECTRE_Tri_B_main.py) code is the executable. It contains the different instructions that will lead to the construction of the objects used throughout the method. The different stages of this executable code are presented here.

In [1]:
import ELECTRE_Tri_B
import pandas as pd
import ipywidgets as widgets

## 1. First step : Ranking categories

The first step is to define the names of the different ranking categories, which should be given in ascending order from worst to best in the form of a Python list. Be careful that this list of classification categories **{C(1);...;C(k);...;C(q)}** is consistent with the boundary reference actions that delimit them **{b(0);...;b(k);...;b(q)}**.

In [2]:
Categories = ['C1', 'C2', 'C3', 'C4', 'C5']
Categories_names = ['Very inadequate','Inadequate','Acceptable','Satisfactory','Very satisfactory']
pd.DataFrame(list(zip(Categories_names, Categories)), columns =['Names of the categories', 'Number'])

  Names of the categories Number
0         Very inadequate     C1
1              Inadequate     C2
2              Acceptable     C3
3            Satisfactory     C4
4       Very satisfactory     C5

## 2. Second step : Importing the input data

The second step consist of importing the input data of the problem. These data should be stored in csv files according to the data structure presented in the document [Tutorial_CSV_files_format.md](Tutorial_CSV_files_format.md). There should be four such files:
- a csv file containing the different data related to the criteria and their weight.
    *Example: [1.Weights.csv](1.Weights.csv)*
- a csv file containing the different data related to the actions and their performances.
    *Example: [2.Actions_performances.csv](2.Actions_performances.csv)*
- a csv file containing the different data related to the boundary reference actions and their performances. 
    *Example: [3.Boundaries_actions_performances.csv](3.Boundaries_actions_performances.csv)*
- a csv file containing the different data related to the thresholds. 
    *Example: [4.Thresholds.csv](4.Thresholds.csv)*

To import the data, the following function is used, where the input parameters are of the csv files names:
- ***input_data(name_W, name_AP, name_BP, name_T)***

This functions will then return the different objects needed for the rest of the method.

In [3]:
C, W, A, AP, B, BP, T = ELECTRE_Tri_B.input_data('1.Weights.csv',
                                                 '2.Actions_performances.csv',
                                                 '3.Boundaries_actions_performances.csv',
                                                 '4.Thresholds.csv')

In [4]:
C_names = ['Owner investment cost','Reinvestment cost over 30 years','Possibility of financial aid and special subventions','Operating costs','Energy cost-effectiveness of the solution','Easy to integrate into existing buildings','Can be installed on occupied sites','Serviceability / Maintenance','Easy Metering / Monitoring / Energy Management','Impact on the cost to the tenant','Thermal comfort level','Sound comfort level','Aesthetics and space requirements','Energy efficiency','CO2 emissions avoided','Place of production']
pd.DataFrame(list(zip(C_names, C)), columns =['Names of the criteria', 'Number'])

                                Names of the criteria Number
0                               Owner investment cost   g1.1
1                     Reinvestment cost over 30 years   g1.2
2   Possibility of financial aid and special subve...   g1.3
3                                     Operating costs   g1.4
4           Energy cost-effectiveness of the solution   g1.5
5           Easy to integrate into existing buildings   g2.1
6                  Can be installed on occupied sites   g2.2
7                        Serviceability / Maintenance   g2.3
8      Easy Metering / Monitoring / Energy Management   g2.4
9                    Impact on the cost to the tenant   g3.1
10                              Thermal comfort level   g3.2
11                                Sound comfort level   g3.3
12                  Aesthetics and space requirements   g3.4
13                                  Energy efficiency   g4.1
14                              CO2 emissions avoided   g4.2
15                                Place of production   g4.3

In [5]:
pd.DataFrame.from_dict(W, orient='index', columns=['Weights [%]']).round(2)

      Weights [%]
g1.1        11.56
g1.2        10.11
g1.3         4.33
g1.4        11.56
g1.5         5.78
g2.1         6.48
g2.2         9.07
g2.3         3.89
g2.4         3.89
g3.1         6.37
g3.2         5.39
g3.3         2.45
g3.4         2.45
g4.1         7.78
g4.2         5.56
g4.3         3.33

In [6]:
pd.DataFrame(A, columns =['Actions']).head(5).append(pd.DataFrame(A, columns =['Actions']).tail(5))

   Actions
0     S1.1
1     S1.2
2     S1.3
3     S1.4
4     S2.1
23    S6.4
24    S7.1
25    S7.2
26    S7.3
27    S7.4

In [7]:
print("Actions performances:")
pd.DataFrame(AP).round(1)

Actions performances:

,S1.1,S1.2,S1.3,S1.4,S2.1,S2.2,S2.3,S2.4,S3.1,S3.2,...,S5.3,S5.4,S6.1,S6.2,S6.3,S6.4,S7.1,S7.2,S7.3,S7.4
g1.1,-0.0,-1008654.5,-1260873.8,-905164.5,-1239757.1,-1397246.8,-1636980.8,-1282394.0,-1344232.5,-1522330.4,...,-1796800.3,-1492598.1,-1372026.3,-1526015.9,-1717070.3,-1377529.3,-1404394.4,-1533952.3,-1771679.4,-1432938.8
g1.2,-1757134.0,-551661.0,-711361.0,-551661.0,-551661.0,-625566.0,-785266.0,-390966.0,-610011.0,-683916.0,...,-1020844.0,-626544.0,-811446.8,-885351.8,-1045051.8,-650751.8,-847315.0,-921220.0,-1080920.0,-686620.0
g1.3,0.0,952088.4,991697.2,917604.3,955885.1,996167.8,1035488.7,995521.3,957186.5,1031776.5,...,1204437.7,1131266.6,1030581.9,1071163.9,1109731.9,1070150.4,995961.4,1070208.7,1109006.7,1035825.1
g1.4,-82701.2,-41345.8,-36119.3,-42267.8,-40971.0,-28230.3,-23290.5,-28762.0,-41692.2,-28197.2,...,-10007.1,-12444.5,-35809.3,-22827.5,-18438.9,-23678.3,-37880.2,-24669.3,-20125.0,-25267.2
g1.5,-0.0,-5932.7,-6591.3,-5457.1,-6770.5,-6736.2,-7184.8,-6254.8,-7140.1,-7086.6,...,-5867.3,-5027.4,-6507.1,-6466.4,-6766.9,-5934.2,-6789.9,-6603.3,-7057.1,-6250.9
g2.1,5.0,3.3,3.0,3.7,2.3,1.7,1.3,2.0,2.0,1.3,...,0.3,1.0,1.7,1.0,0.7,1.3,1.0,0.3,0.0,0.7
g2.2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
g2.3,4.4,5.0,5.0,5.0,4.4,3.8,3.8,3.8,4.4,3.8,...,1.9,1.9,3.1,2.5,2.5,2.5,0.6,0.0,0.0,0.0
g2.4,3.6,3.6,3.6,3.6,4.3,3.6,3.6,3.6,5.0,4.3,...,2.1,2.1,2.9,2.1,2.1,2.1,0.7,0.0,0.0,0.0
g3.1,-368.1,-182.4,-158.5,-186.2,-167.5,-141.1,-118.4,-143.6,-162.5,-132.8,...,-112.7,-136.8,-137.5,-109.9,-90.1,-113.8,-141.9,-113.6,-92.9,-117.0
g3.2,0.0,2.8,3.3,2.2,4.4,4.4,5.0,3.9,2.2,2.2,...,1.1,0.0,3.9,3.9,4.4,3.3,4.4,4.4,5.0,3.9
g3.3,5.0,5.0,5.0,5.0,4.0,4.0,4.0,4.0,3.0,3.0,...,0.0,0.0,5.0,5.0,5.0,5.0,3.0,3.0,3.0,3.0
g3.4,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,2.0,2.0,...,1.0,1.0,5.0,5.0,5.0,5.0,3.0,3.0,3.0,3.0
g4.1,0.0,170.0,191.3,165.9,183.1,207.4,227.8,205.0,188.3,214.8,...,306.2,296.9,210.9,236.0,253.7,232.1,206.8,232.3,251.0,229.2
g4.2,0.0,65.5,73.7,63.9,70.5,79.9,87.8,79.0,72.5,82.7,...,49.9,31.7,81.2,90.9,97.7,89.4,79.7,89.5,96.7,88.3
g4.3,-0.0,-418.0,-690.0,-418.0,-2368.0,-2448.0,-2720.0,-2448.0,-2368.0,-2448.0,...,-2777.0,-2505.0,-2618.0,-2698.0,-2970.0,-2698.0,-2548.0,-2628.0,-2900.0,-2628.0

In [8]:
pd.DataFrame(B, columns =['Boundaries actions'])

  Boundaries actions
0                 b0
1                 b1
2                 b2
3                 b3
4                 b4
5                 b5

In [9]:
print("Boundaries actions performances:")
pd.DataFrame(BP).round(1)

Boundaries actions performances:

             b0         b1         b2         b3         b4         b5
g1.1 -2110751.8 -1657326.1 -1530360.1 -1410447.7 -1339911.0   211567.2
g1.2 -1874914.9  -928688.9  -785206.5  -654767.9  -602592.5  -273185.0
g1.3  -152458.3   953195.7  1020601.6  1069049.5  1109071.8  1356896.0
g1.4   -87052.4   -38747.2   -29008.1   -24834.2   -19269.0    -5655.9
g1.5    -8447.0    -6823.8    -6686.9    -6344.7    -5454.9      920.9
g2.1       -0.2        0.7        1.2        1.5        2.1        5.0
g2.2        0.0        0.0        0.0        1.0        1.0        1.0
g2.3       -0.4        1.9        2.6        3.3        4.0        5.0
g2.4       -0.5        2.0        2.3        3.3        4.2        5.0
g3.1     -388.6     -160.1     -136.9     -115.2      -99.0      -45.8
g3.2       -0.4        1.8        2.2        3.7        4.2        5.0
g3.3       -0.4        1.0        2.1        3.4        4.1        5.0
g3.4       -0.4        0.6        1.9        3.1        4.4        5.0
g4.1      -33.4      194.3      222.9      234.3      257.2      339.7
g4.2      -11.1       60.5       74.0       82.1       90.2      117.2
g4.3    -3308.4    -2736.7    -2656.5    -2496.2    -2376.0      338.4

In [10]:
print("Thresholds:")
pd.DataFrame(T, index=['qi', 'pi', 'vi']).round(2)

Thresholds:

,g1.1,g1.2,g1.3,g1.4,g1.5,g2.1,g2.2,g2.3,g2.4,g3.1,g3.2,g3.3,g3.4,g4.1,g4.2,g4.3
qi,70522.39,39260.33,50819.44,1450.40,306.97,0.08,0.0,0.15,0.15,6.84,0.14,0.15,0.14,11.14,3.70,112.79
pi,211567.16,117780.98,152458.31,4351.21,920.90,0.23,1.0,0.45,0.45,20.53,0.43,0.45,0.41,33.43,11.10,338.37
vi,465447.74,259118.15,335408.27,9572.67,2025.99,0.51,2.0,0.98,0.99,45.16,0.94,0.99,0.90,73.55,24.42,744.41

## 3. Third step : Cutting threshold

The third step is to define the "**cutting threshold λ**". The cutting threshold is the basis of the comparison. It allows deciding on the existing over-ranking relationships between an actions "**_a(i)_**" and a boundary reference action "**_b(k)_**". The closer it is to 1, the more demanding the classification will be and may lead to situations of incomparability. The most common values for this cutting threshold are generally between **0.50** and **0.75**.

It is interesting to calculate the degree of separability between two consecutive reference actions "**_σ(bk,bk+1)_**" in order to determine with which level of difference the performance categories are constructed. This degree of separability is equal to the credibility of the statement **_b(k)_** outperforms **_b(k+1)_**. The ***separability_test(C, W, B, BP, T, display='NO')*** function can be used to perform this calculation. The maximum value of the credibilities calculated in this way corresponds to the minimum required credibility threshold **_λ_**.

In [11]:
Sigma_bk_init, Separability_init = ELECTRE_Tri_B.separability_test(C, W, B, BP, T, display='YES')
λ = 0.50
print('Chosen initial credibility threshold λ =', λ)

The degree of separability is Hyper-strict
Minimum required credibility threshold : max(σ(bk, bk+1)) = 0.0
Chosen initial credibility threshold λ = 0.5

## 4. Fourth step : execution of the ELECTRE Tri-B procedure

In the fourth step the objective is to use the input data to calculate the indicators of the ELECTRE Tri-B method. This calculation can be done automatically using the **ELECTRE_Tri_B(C, W, A, AP, B, BP, T, CAT, λ, display='YES')** function. This function automatically executes the different calculation steps of the ELECTRE Tri-B method in order to obtain the final rankings of the alternatives within the different categories.

In [12]:
RESULTS = ELECTRE_Tri_B.ELECTRE_Tri_B(C, W, A, AP, B, BP, T, Categories, λ, display='YES')

Results of the pessimistic sorting :
C1 : ['S1.1', 'S5.1', 'S5.2', 'S5.3', 'S5.4', 'S7.1', 'S7.2', 'S7.3', 'S7.4']
C2 : ['S1.2', 'S1.4', 'S2.1', 'S3.1', 'S4.1', 'S4.2', 'S4.3', 'S4.4', 'S6.3']
C3 : ['S1.3', 'S3.2', 'S3.3', 'S3.4', 'S6.1', 'S6.2', 'S6.4']
C4 : ['S2.2', 'S2.3', 'S2.4']
C5 : []
Pessimistic category : {'S1.1': 1, 'S1.2': 2, 'S1.3': 3, 'S1.4': 2, 'S2.1': 2, 'S2.2': 4, 'S2.3': 4, 'S2.4': 4, 'S3.1': 2, 'S3.2': 3, 'S3.3': 3, 'S3.4': 3, 'S4.1': 2, 'S4.2': 2, 'S4.3': 2, 'S4.4': 2, 'S5.1': 1, 'S5.2': 1, 'S5.3': 1, 'S5.4': 1, 'S6.1': 3, 'S6.2': 3, 'S6.3': 2, 'S6.4': 3, 'S7.1': 1, 'S7.2': 1, 'S7.3': 1, 'S7.4': 1}

Results of the optimistic sorting :
C1 : []
C2 : ['S1.1', 'S5.1', 'S5.2', 'S5.3', 'S5.4', 'S7.1', 'S7.2', 'S7.3', 'S7.4']
C3 : ['S1.2', 'S1.4', 'S2.1', 'S3.1', 'S4.1', 'S4.2', 'S4.3', 'S4.4', 'S6.3']
C4 : ['S1.3', 'S2.2', 'S2.3', 'S2.4', 'S3.2', 'S3.3', 'S3.4', 'S6.1', 'S6.2', 'S6.4']
C5 : []
Optimistic category :  {'S1.1': 2, 'S1.2': 3, 'S1.3': 4, 'S1.4': 3, 'S2.1': 3, 'S2.2': 4, 'S2.3': 4, 'S2.4': 4, 'S3.1': 3, 'S3.2': 4, 'S3.3': 4, 'S3.4': 4, 'S4.1': 3, 'S4.2': 3, 'S4.3': 3, 'S4.4': 3, 'S5.1': 2, 'S5.2': 2, 'S5.3': 2, 'S5.4': 2, 'S6.1': 4, 'S6.2': 4, 'S6.3': 3, 'S6.4': 4, 'S7.1': 2, 'S7.2': 2, 'S7.3': 2, 'S7.4': 2}

Action S1.1 is classified in the category C21 with a median rank of 1.5
Action S1.2 is classified in the category C32 with a median rank of 2.5
Action S1.3 is classified in the category C43 with a median rank of 3.5
Action S1.4 is classified in the category C32 with a median rank of 2.5
Action S2.1 is classified in the category C32 with a median rank of 2.5
Action S2.2 is classified in the category C44 with a median rank of 4.0
Action S2.3 is classified in the category C44 with a median rank of 4.0
Action S2.4 is classified in the category C44 with a median rank of 4.0
Action S3.1 is classified in the category C32 with a median rank of 2.5
Action S3.2 is classified in the category C43 with a median rank of 3.5
Action S3.3 is classified in the category C43 with a median rank of 3.5
Action S3.4 is classified in the category C43 with a median rank of 3.5
Action S4.1 is classified in the category C32 with a median rank of 2.5
Action S4.2 is classified in the category C32 with a median rank of 2.5
Action S4.3 is classified in the category C32 with a median rank of 2.5
Action S4.4 is classified in the category C32 with a median rank of 2.5
Action S5.1 is classified in the category C21 with a median rank of 1.5
Action S5.2 is classified in the category C21 with a median rank of 1.5
Action S5.3 is classified in the category C21 with a median rank of 1.5
Action S5.4 is classified in the category C21 with a median rank of 1.5
Action S6.1 is classified in the category C43 with a median rank of 3.5
Action S6.2 is classified in the category C43 with a median rank of 3.5
Action S6.3 is classified in the category C32 with a median rank of 2.5
Action S6.4 is classified in the category C43 with a median rank of 3.5
Action S7.1 is classified in the category C21 with a median rank of 1.5
Action S7.2 is classified in the category C21 with a median rank of 1.5
Action S7.3 is classified in the category C21 with a median rank of 1.5
Action S7.4 is classified in the category C21 with a median rank of 1.5

### 4.1 Concordance matrices
This is an indicator of how well an action ***a(i)*** is at least as good as the boundary reference action ***b(k)*** for a given criterion ***g(j)***.

In [13]:
# Choose the boundary reference action 'bk' for which to display the concordance matrices 'c(ai,bk)'
def f(bk):
    print('Concordance matrix c(ai,{})'.format(bk))
    return pd.DataFrame(RESULTS[0][bk]['c(ai,{})'.format(bk)], index=A, columns=C).round(2)
widgets.interact(f, bk=B)

interactive(children=(Dropdown(description='bk', options=('b0', 'b1', 'b2', 'b3', 'b4', 'b5'), value='b0'), Ou…

In [14]:
# Choose the boundary reference action 'bk' for which to display the concordance matrices 'c(bk,ai)'
def f(bk):
    print('Concordance matrix c({},ai)'.format(bk))
    return pd.DataFrame(RESULTS[0][bk]['c({},ai)'.format(bk)], index=A, columns=C).round(2)
widgets.interact(f, bk=B)

interactive(children=(Dropdown(description='bk', options=('b0', 'b1', 'b2', 'b3', 'b4', 'b5'), value='b0'), Ou…

### 4.2 Discordance matrices
This indicator is expressed using the veto threshold. They mark the limit beyond which the hypothesis that a given action ***a(i)*** outperforms a boundary reference action ***b(k)*** for a given criterion ***g(j)*** can be rejected without affecting the credibility of the opposite hypothesis.

In [15]:
# Choose the boundary reference action 'bk' for which to display the discordance matrices 'd(ai,bk)'
def f(bk):
    print('Discordance matrix d(ai,{})'.format(bk))
    return pd.DataFrame(RESULTS[1][bk]['d(ai,{})'.format(bk)], index=A, columns=C).round(2) 
widgets.interact(f, bk=B)

interactive(children=(Dropdown(description='bk', options=('b0', 'b1', 'b2', 'b3', 'b4', 'b5'), value='b0'), Ou…

In [16]:
# Choose the boundary reference action 'bk' for which to display the discordance matrices 'd(bk,ai)'
def f(bk):
    print('Discordance matrix d({},ai)'.format(bk))
    return pd.DataFrame(RESULTS[1][bk]['d({},ai)'.format(bk)], index=A, columns=C).round(2)
widgets.interact(f, bk=B)

interactive(children=(Dropdown(description='bk', options=('b0', 'b1', 'b2', 'b3', 'b4', 'b5'), value='b0'), Ou…

### 4.3 Global concordances vectors
The global concordance indices allow stating to what extent the hypothesis "the action ***a(i)*** globally outperforms the boundary reference action ***b(k)***" is met.

In [17]:
# Choose the boundary reference action 'bk' for which to display the global concordances vectors 'C(ai,bk)' and 'C(bk,ai)'
def f(bk):
    print('Global concordances vectors')
    return pd.DataFrame(RESULTS[2][bk], index=A).round(2)
widgets.interact(f, bk=B)

interactive(children=(Dropdown(description='bk', options=('b0', 'b1', 'b2', 'b3', 'b4', 'b5'), value='b0'), Ou…

### 4.4 Credibility vectors
The credibility of the outranking relationships between the actions and the boundary reference profile varies from pair to pair and is represented by the degree of credibility of the outranking.

In [18]:
# Choose the boundary reference action 'bk' for which to display the credibility vectors 'σ(ai,bk)' and 'σ(bk,ai)'
def f(bk):
    print('Credibility vectors')
    return pd.DataFrame(RESULTS[3][bk], index=A).round(2)
widgets.interact(f, bk=B)

interactive(children=(Dropdown(description='bk', options=('b0', 'b1', 'b2', 'b3', 'b4', 'b5'), value='b0'), Ou…

### 4.5 Matrix of outranking relations
The lambda cutting threshold value is compare to the credibilities values to decide on four over ranking relationships:
- preference of *a(i)* over *b(k)*: "**>**"
- preference of *b(k)* over *a(i)*: "**<**"
- indifference: "**I**"
- incomparability: "**R**"

In [19]:
print('Matrix of outranking relations')
pd.DataFrame(RESULTS[4], index=A)

Matrix of outranking relations

     b0 b1 b2 b3 b4 b5
S1.1  >  R  R  R  R  <
S1.2  >  >  R  R  R  <
S1.3  >  >  >  R  R  <
S1.4  >  >  R  R  R  <
S2.1  >  >  R  R  <  <
S2.2  >  >  >  >  <  <
S2.3  >  >  >  >  <  <
S2.4  >  >  >  >  <  <
S3.1  >  >  R  R  <  <
S3.2  >  >  >  R  <  <
S3.3  >  >  >  R  <  <
S3.4  >  >  >  R  <  <
S4.1  >  >  R  R  <  <
S4.2  >  >  R  R  <  <
S4.3  >  >  R  R  <  <
S4.4  >  >  R  R  <  <
S5.1  >  R  <  <  <  <
S5.2  >  R  R  R  <  <
S5.3  >  R  R  R  R  <
S5.4  >  R  R  R  <  <
S6.1  >  >  >  R  <  <
S6.2  >  >  >  R  <  <
S6.3  >  >  R  R  <  <
S6.4  >  >  >  R  <  <
S7.1  >  R  R  <  <  <
S7.2  >  R  R  <  <  <
S7.3  >  R  R  R  <  <
S7.4  >  R  R  <  <  <

### 4.6 Pessimistic and Optimistic ranking procedure
Two sorting procedures are performed based on the previous over-ranking relationships. Each of these sorting procedures assigns actions to a specific performance category. The difference between the two procedures is the ranking of incomparabilities (***R***).

In [20]:
print('Results of the pessimistic sorting:')
for cat in Categories:
    print('{}:'.format(cat), RESULTS[5][0][cat])

Results of the pessimistic sorting:
C1: ['S1.1', 'S5.1', 'S5.2', 'S5.3', 'S5.4', 'S7.1', 'S7.2', 'S7.3', 'S7.4']
C2: ['S1.2', 'S1.4', 'S2.1', 'S3.1', 'S4.1', 'S4.2', 'S4.3', 'S4.4', 'S6.3']
C3: ['S1.3', 'S3.2', 'S3.3', 'S3.4', 'S6.1', 'S6.2', 'S6.4']
C4: ['S2.2', 'S2.3', 'S2.4']
C5: []

In [21]:
print('Results of the optimistic sorting:')
for cat in Categories:
    print('{}:'.format(cat), RESULTS[6][0][cat])

Results of the optimistic sorting:
C1: []
C2: ['S1.1', 'S5.1', 'S5.2', 'S5.3', 'S5.4', 'S7.1', 'S7.2', 'S7.3', 'S7.4']
C3: ['S1.2', 'S1.4', 'S2.1', 'S3.1', 'S4.1', 'S4.2', 'S4.3', 'S4.4', 'S6.3']
C4: ['S1.3', 'S2.2', 'S2.3', 'S2.4', 'S3.2', 'S3.3', 'S3.4', 'S6.1', 'S6.2', 'S6.4']
C5: []

### 4.7 Median rank
When the two sorting procedures do not lead to the same results, a median rank is calculated. So an action classified as "**_C2_**" by the optimistic sorting and "**_C1_**" by the pessimistic sorting, will therefore belong to the "**_C21_**" category with a median rank of **1.5** (it will be less preferable than an action belonging to the "**_C22_**" category with a median rank of **2.0**).

In [22]:
print('Median rank')
pd.DataFrame.from_dict(RESULTS[7], orient='index', columns=['Median rank'])

Median rank

      Median rank
S1.1          1.5
S1.2          2.5
S1.3          3.5
S1.4          2.5
S2.1          2.5
S2.2          4.0
S2.3          4.0
S2.4          4.0
S3.1          2.5
S3.2          3.5
S3.3          3.5
S3.4          3.5
S4.1          2.5
S4.2          2.5
S4.3          2.5
S4.4          2.5
S5.1          1.5
S5.2          1.5
S5.3          1.5
S5.4          1.5
S6.1          3.5
S6.2          3.5
S6.3          2.5
S6.4          3.5
S7.1          1.5
S7.2          1.5
S7.3          1.5
S7.4          1.5